$Primary: #000000;
$Secondary: #FFFFFF;
$Ternary: #B19975;
$Ternary-hover: #88755A;
$Ternary-active: #f1d1a5;

$scrollbar-track: #505050;
$scrollbar-handle: #B19975;
$scrollbar-handle-hover: #e7c99c;

$navbar-border: #494949;

$Section-3-Background: #F5F5F5;
$Section-3-Heading: #212529;
$Section-3-Desc: #606060;
$Section-6-Desc: #606060;

$Section-5-seperater: #707070;

$Section-7-Background: #F5F5F5;
$Section-7-Content: #212529;

// Category Variables
$assets: #5C77AB;
$business-opportunities: #8B4570;
$finance: #4ABC7E;
$income-property: #DE5826;
$international: #D8156F;
$land: #6FDADE;
$residences: #8E9A09;
$other: #3631C7;
$crypto-opportunities: #d4a642;

$team-name: #212529;
$team-img-border: #D5CFCF;

$auth-background: #323232;
$form-input-background: #5C5C5C;

$listing-search-bg: #222227;
$listing-search: #B1B1B1;
$listing-id: #939393;
$listing-pro-active: #9D896A;

$facebook: #1877F2;
$twitter: #56ACEF;
$copy-link: #505050;

$modal-background: #323232;
$modal-seperator: #BFAC8E;
$modal-label: #939393;

$account-container-bg: #323232;
$account-container-menu-bg: #292929;
$account-menu-bg-active: #B19975;


$unnamed-color-4d4d4d: #4D4D4D;
$unnamed-color-de5826: #DE5826;
$unnamed-color-4abc7e: #4ABC7E;
$unnamed-color-b9962f: #B9962F;
